.hidden {
  opacity: 0;
}
.console-container {
  font-size: 4em;
  text-align: center;
  height: 200px;
  width: 600px;
  display: block;
  position: relative;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 100px;
  z-index: 2;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

#btn-form {
  margin-top: 25px;
  margin-bottom: 45px;
  width: 165px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #5830a8;
  color: #fff;
  font-size: 18px;
}

#btn-form:hover {
  cursor: pointer;
  background-color: rgb(153, 126, 184);
  transition: all 0.2s ease-out;
}

#btn-form:not(:hover) {
  cursor: pointer;
  background-color: #5830a8;
  transition: all 0.165s ease-in;
}

#btn-form-footer {
  margin-bottom: 45px;
  width: 212px;
  height: 27.5px;
  border-radius: 5px;
  outline: none;
  border: none;
  text-align: left;
  padding-left: 10px;
  padding-top: 1px;
  background-color: #5830a8;
  color: #fff;
  font-size: 16px;
}

#btn-form-footer:hover {
  cursor: pointer;
  background-color: rgb(153, 126, 184);
  transition: all 0.2s ease-out;
}

#btn-form-footer:not(:hover) {
  cursor: pointer;
  background-color: #5830a8;
  transition: all 0.165s ease-in;
}

@media screen and (max-width: 800px) {
  .nav-links {
    height: 500px;
  }
}

@media screen and (max-width: 700px) {
  .console-container {
    width: 350px;
  }
}
